<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57033051103-4natuq1p6fjvf4j39o380a609ooofvj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57033051103-4natuq1p6fjvf4j39o380a609ooofvj2</string>
	<key>API_KEY</key>
	<string>AIzaSyAek18ssROpfP7oqNLL8nZc963YYp6JbDA</string>
	<key>GCM_SENDER_ID</key>
	<string>57033051103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mycompany.formula1App</string>
	<key>PROJECT_ID</key>
	<string>f1-fan-site-next-js</string>
	<key>STORAGE_BUCKET</key>
	<string>f1-fan-site-next-js.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57033051103:ios:b462955f9b1bfb3b02d26a</string>
</dict>
</plist>